# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# server
server/node_modules
server/.env
server/package-lock.json


# client
client/node_modules
client/package-lock.json
client/.env

# production
server/ecosystem.config.js
client/build

# pycache
server/python-scripts/__pycache__
server/python-scripts/*/__pycache__

# misc
.DS_Store
.pm2/*
.vscode/*


# data
server/data