.App {
  min-height: 400px;
  width: fit-content;
  /* background: #000000; */
  /* color: #fff; */
}

.w-64 {
  width: 16rem;
}
.h-64 {
  height: 16rem;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex {
  display: flex;
}

.mb-10 {
  margin-bottom: 2.5rem;
  text-align: left;
}